@import url(https://fonts.googleapis.com/css?/Acme=Shadows|Into+Light');


h1 {
    text-align:center;
    font-size:3em;
}


p {
	font-family:'Shadows Into Light', cursive;
	font-family:'Acme', sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
}