@import url('https://fonts.googleapis.com/css?family=Acme+Into+light')
<body> {background: orange }
h1 {
	
}
p
ul
img 
#slogan



{background-color:pink} </body>
h3 {font-size 24 px;}
font-style
body {text-align: center;}
a {text-decoration:none}
 h1 {text-transform:uppercase}

 #wrapper {
 	background:#ffffff url(https://i.imgur.com/NnZRHEr.jpg)
 }

 #content {
 	float: left;
 	width: 560px;
 	padding: 20px 0;
 	margin: 0 0 0 30px;
 }
 nav a : hover{
 	background-color: #338833;
 }
.column{
	float:left;
	width:260px;
	height:300px;
	padding: 20px;
	margin:0;
}

#column1 {
	background-color: #AC54FF;
}

#column2 {
	background-color: #5485FF; 
}
#column3 {
	background-color: #47FFF2;
}  

  aside  {
  	float:right;
  	font-size: 14px;
  	width:240px;
    padding: 20px
    margin:0 20px 0 0;    
}

 aside h3 {
 	margin:0;
 }

 footer {
 	background-color: #cccccc;
 	text-align:right;
 	padding: 20px;
 }

 .clearfixafter {
 	visibility: hidden;
 	display: block;
 	font-size: 0;
 	content: " ";
    clear:both;
    height: 0;
    }
 }